Options +FollowSymLinks
RewriteEngine On
RewriteBase /


# add .php file extension
RewriteRule ^nuclear-myth.html$ internet-history/ [R]
RewriteRule ^nuclear-myth$ internet-history/ [R]
RewriteRule ^internet-history$ internet-history/ [R]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.+)$ $1.php [L]
