body {
  font-family: 'Cormorant Garamond', serif;
  font-weight:600;
  text-align: center;
  margin: 0;
  padding: 0;
  background: #eee;
}
main {
  text-align: left;
  padding: 1.4rem;
  padding-top: 0;
  display: inline-block;
  box-shadow: 0 0 1rem 0.1rem #e4e4e4;
  width: min(60rem, 100vw - 3.3rem);
  background-color: #fff;
}
h1,h2,h3,h4,h5{
  font-family: 'Roboto Slab', serif;
}
   h2,h3,h4   {
font-weight: 500;
text-transform: uppercase;
color:#69196D;
margin-top:3rem;
margin-bottom:2rem;
}
h1,h2,      h5{
  text-align: center;
}
h2 small {
  text-transform: none;
  display: block;
  margin-top:0.5rem;
  font-size: 1rem;
}

.tabular-magic {
  width: min(100%, 100vw - 3rem);
  overflow-x:auto;
}
#list h2 {
  color: #555;
}
#list h3 {
  text-transform: none;
}
h1 {
  padding: 1.5rem 0 0 0;
  margin: 0.5rem 0 0;
}
h2 {
  font-size: 1.25rem;
}
h3 {
  font-size: 1.15rem;
}
h4 {
  text-transform: none;
  font-size: 1rem;
}
h5 {
  margin-top: 1rem;
  font-weight: 400;
  color: #555;
}
a {
  color: #44a;
  text-decoration: underline solid #44a 0.025rem;
}
a.foot {
  text-decoration:none;
  color: #84a;
}
p.foot {
  margin-left:2rem;
}
h1 a, h1 a:visited {
  color:#111;
  text-decoration: none;
}

strong,b {
  font-weight: 900;
  -webkit-text-stroke: 0.4px;
  text-stroke: 0.4px;
}
p {
  margin: 1.5rem 0;
  text-align: justify;
  line-height: 1.40rem;
  font-size: 1.1rem;
}
blockquote {
  border-left: 0.06rem solid #cac7f3;
  padding-left: 0.72rem;
  margin-left: 0.72rem;
  margin-right: 1.5rem;
  padding-top: 0;
  line-height: 1.5rem;
  color: #314;
  margin-top: -1rem;
  padding-bottom: 0rem;
}
blockquote p {
  text-align: left;
}

  
figure {
  padding-left: 0;
  margin: 1.5rem 0;
  width: 100%;
  text-align: center;
}
figcaption{
  color: #768;
}
figcaption a{
  color: #77e;
}

table {
  background: #fff;
  border-spacing: 0;
  border: 1px solid #777;
}
#heat td:nth-child(2n+3){
	border:0;
  background-color: #cac7f3;
}
#heat td:nth-child(2n+4){
	border:0;
  background-color: #F2C6D9;
}

td,th {
  white-space: nowrap;
  padding: 0.25rem;
  text-align: center;
  min-width: 1.5rem;
  border-bottom: 1px solid #777;
  border-right: 1px solid #777;
}
td.arpa {
  background-image: url("arpa.png");
}
tr.thic > td {
  border-bottom: 1px solid #000;
}
tr > *:last-of-type
{
  border-right: none;
}
tbody > tr:last-of-type > td {
  border-bottom: none;
}
th {
  text-align: left;
  text-orientation: sideways-right;
  writing-mode: vertical-rl;
}
td:nth-child(1) {
  text-align: right;
  white-space: nowrap;
}
td.maybe {
  background-color: #dcdcdc;
}
td.yes {
  background-color: #cac7f3;
}
td.no {
  background-color: #F2C6D9;
}
iframe,img {
  box-shadow: 0 0 0.5rem 0.2rem #eee6ee;
  width: min(80vw, 42rem);
}
iframe {
  max-height: 60vw;
}
li {
  margin: 0.5rem 0;
}
#footnotes li {
  margin: 2rem 0;
}
tt {
  font-family: 'Cutive Mono', monospace;
  font-size: 0.9rem;
  margin: 0 .15rem;
}
#myths-container {
  text-align: center;
  margin-top: -1rem;
}
#myths {
  display: inline-block;
  font-size: 1.1rem;
  border: 0.1rem solid rgba(105, 25, 109, 50%);
  border-radius: 2rem;
  padding: 1rem;
  transform: rotate(1deg);
}
hr {
  margin-top: 3rem;
  border: 0.1rem solid rgba(105, 25, 109, 20%);
}
aside {
  color: #313;
  margin: 0 -.5rem;
  padding: 1rem 1.5rem;
  border-top: 0.1rem double rgba(105, 25, 109, 20%);
  border-bottom: 0.1rem double rgba(105, 25, 109, 20%);
}
aside h5 {
  text-transform: uppercase;
  font-size: 0.9rem;
  margin-top:1rem;
  color: #313;
}
#h > img { 
  background: rgba(202, 199, 243, 50%);
  box-shadow: none;
  margin: 0.15rem;
  width: 30%
}
#h img:nth-child(3n) {
  background:rgba(239, 242, 198,50%);
}
#h img:nth-child(2n) {
  background:rgba(242,198,217,50%);
}
#h img:nth-child(4n) {
  background:rgba(198, 242, 223,50%);
}
#h h2 {margin-top: 1rem;}
#h h4 {font-size: 1rem;}
#h {
 margin-top: 2rem;
 display:inline-block;
 text-align: center;
 font-size: 0
}
#h figcaption {
  font-size: .8rem;
}

.onlyprint { display: none }
@media print {
  .onlyprint { display: inline-block }
  main {
    box-shadow: none;
  }
  .link {
    font-family: monospace;
    font-size: 0.8rem;
  }
  table .onlyprint {
    display: none;
  }
  .noprint {
    display: none !important;
  }

  iframe {
    display: none;
  }
  img {
    width: 50vw;
    position: relative;
    padding: 0.5rem;
    border: 1px solid #777;
    box-shadow: none;
  }
  body,main,figure,section,p { display: block }
  section {
    page-break-before: always;
    break-before: always;
  }
  figure,aside {
    break-inside: avoid;
    page-break-inside: avoid;
  }
  a {
    color: #000;
    text-decoration: underline dotted black 0.02rem;
  }
  b {
    -webkit-text-stroke: 0;
  }
  th {
    text-align: center;
  }
  th,td{
    border-bottom: 0.25px dotted black;
    border-right: 0.25px dotted black;
    padding: 0.2rem 0;
  }
  td.arpa {
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
  }
  .tabular-magic {
    font-size: 12px;
    overflow: visible;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: #222;
  }
  main {
    background: #141617;
    box-shadow: 0 0 1rem 0.1rem #222;
  }
  iframe,img {
    box-shadow: 0 0 0.5rem 0.2rem #323633;
  }
  blockquote {
    border-left-color: #669;
  }
  aside {
    border-color: #669;
  }
    
  blockquote p {
    color: #eae0e5;
  }
  table {
    background: none;
  }
  em,td,th,p,i,b,h1,h2,h3,li,figcaption,caption,h4,h5,aside h5,h6,h1 a, h1 a:visited {
    color: #e4efef;
  }
  a {
    color: #ccf;
    text-decoration: underline solid #ccf 0.025rem;
  }
  td.maybe {
    background-color: #444;
  }
  td.yes {
    background-color: #0a1370;
  }
  td.no {
    background-color: #521629;
  }

}
