body {
  font-family: 'Cormorant Garamond', serif;
  font-weight:600;
  text-align: center;
  margin: 0;
  padding: 0;
  background: #eee;
}
main {
  text-align: left;
  background: #fff;
  padding: 1.5rem;
  padding-top: 0;
  display: inline-block;
  box-shadow: 0 0 2rem 0.1rem #e4e4e4;
  width: min(60rem, 100vw - 3rem);
  background: url("draft.png") repeat;
}
h1,h2,h3,h4,h5{
  font-family: 'Roboto Slab', serif;
}
   h2,h3   ,h5{
font-weight: 500;
text-transform: uppercase;
color:#69196D;
margin-top:2.5rem;
}
h1,h2,   h4{
  text-align: center;
}

#list h2 {
  color: #555;
}
#list h3 {
  text-transform: none;
}
h1 {
  padding: 0.5rem 0;
  margin: 0.5rem 0;
  border-bottom: 0.07rem solid #242;
}
h2 {
  font-size: 1.25rem;
}
h3 {
  font-size: 1.15rem;
}
h4 {
  margin-top: -.5rem;
  font-weight: 400;
  color: #555;
}
h5 {
  text-transform: none;
  font-size: 1rem;
}
a {
  color: #44a;
}
h1 a, h1 a:visited {
  color:#111;
  text-decoration: none;
}

strong,b {
  font-weight: 900;
  -webkit-text-stroke: 0.4px;
  text-stroke: 0.4px;
}
p {
  margin: 1.5rem 0;
  text-align: justify;
  font-size: 1.1rem;
}
blockquote {
  border-left: 0.10rem solid #cac7f3;
  padding-left: 0.75rem;
  margin-left: 0.5rem;
  margin-right: 1.5rem;
  padding-top: 0;
  line-height: 1.4rem;
  color: #314;
  margin-top: -1rem;
  padding-bottom: 0rem;
}
blockquote p {
  text-align: left;
}

  
figure {
  padding-left: 0;
  margin: 1.5rem 0;
  width: 100%;
  text-align: center;
  color: #768;
}

table {
  border-spacing: 0;
  border: 1px solid #777;
}
td,th {
  border-bottom: 1px solid #777;
  padding: 0.25rem;
  text-align: center;
  min-width: 1.5rem;
  border-bottom: 1px solid #777;
  border-right: 1px solid #777;
}
th {
  text-align: left;
  text-orientation: sideways-right;
  writing-mode: vertical-rl;
}
td:nth-child(1) {
  text-align: right;
  white-space: nowrap;
}
td.maybe {
  background-color: #dcdcdc;
}
td.yes {
  background-color: #cac7f3;
}
td.no {
  background-color: #F2C6D9;
}
img {
  width: min(80vw, 42rem);
  box-shadow: 0 0 0.5rem 0.2rem #eee6ee;
}
li {
  margin: 0.5rem 0;
}
tt {
  font-family: 'Cutive Mono', monospace;
  font-size: 0.9rem;
  margin: 0 .15rem;
}
#myths-container {
  text-align: center;
  margin-top: -1rem;
}
#myths {
  display: inline-block;
  font-size: 1.1rem;
  border: 0.1rem solid rgba(105, 25, 109, 50%);
  border-radius: 2rem;
  padding: 1rem;
  transform: rotate(1deg);
}
hr {
  margin-top: 3rem;
  border: 0.1rem solid rgba(105, 25, 109, 20%);
}
aside {
  color: #313;
  margin: 0 -.5rem;
  padding: 1rem 1.5rem;
  border-top: 0.1rem solid rgba(105, 25, 109, 20%);
  border-bottom: 0.1rem solid rgba(105, 25, 109, 20%);
}
aside h4 {
  text-transform: uppercase;
  font-size: 0.9rem;
  margin-top:1rem;
  color: #313;
}
